@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roleway', sans-serif;
    background-color: #333;
    color: #222;
    margin: 0;
    overflow-x: hidden;
}

.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 1s linear;
    width: 100vw;
    min-height: 100wh;
    padding: 50px;
}

.container.show-nav {
    transform: rotate(-20deg);
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle-container .circle {
    background-color: #ff7979;
    height: 200px;
    width: 200px;
    border-radius: 200px;
    transition: transform .5s linear;
    position: relative;
}

.circle-container .circle button {
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    color: #fff;
    align-items: flex-start;
    flex-direction: column;
    border: none;
    font-size: 26px;
}
.circle button:focus {
    outline: none;
}
.circle button#open{
    left: 60%;
    top: 65%;
}
.circle button#close{
    top: 65%;
    transform: rotate(90deg);
    transform-origin: top left;
}
.container.show-nav .circle{
transform: rotate(-70deg);
}
.content{
    max-width: 1000px;
    margin: 50px auto;
}
.content h1 {
margin: 0;
}
.content small{
    color: #555;
    font-style: italic;
}
.content p{
    color: #333;
    line-height: 1.5;
}
.content.img{
    max-width: 100%;
}
nav{
    position: fixed;
    bottom: 25%;
    left: 0;
    z-index: 10;
}
nav ul{
    list-style: none;
    padding-left: 30px;
}
nav ul li{
text-transform:uppercase;
margin: 40px 0;
transform: translateX(-100%);
transition: transform .5s ease-in;
color: #fff;
}
nav ul li + li{
    margin-left: 20px;
    transform: translateX(-150%);
}
nav ul li + li + li{
    margin: 40px;
    transform: translateX(-200%);
}
.container.show-nav + nav li{
    transform: translateX(0);
    transition-delay: .5s;
}